<%- include('partials/header.ejs'); -%>
<div class="position-relative text-center">
    <h1 class="sigmar-regular d-inline-block">ADD A BOOK</h1>
</div>

<div class="container mb-3">
    <div class="btn-group" role="group" aria-label="Default button group">
        <form action="/" method="get">
            <button class="btn btn-outline-primary" style="margin-left: 4px;" type="submit">◄ Back To Notes</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-10 card ">
            <form id="bookForm" action="/addBook" method="post">
                <%- include('partials/edit.ejs', { book:  { title: '', img_url: '', start_date: '', end_date: '', description: '', stars: 0 } }); -%>
                <button type="submit" class="btn btn-outline-primary mt-3">Save</button>

            </form>

        </div>
    </div>
</div>
  
<%- include('partials/footer.ejs'); -%>

